/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.bar {
  transition: 0.3s;
}
.bar-hide {
  bottom: -150px;
}
.bar-show {
  bottom: 0px;
}
.nav-hidden {
  top: -200px;
}
.nav-show {
  top: 0px;
}

.reply-container-open {
  height: 0px;
}
.reply-container {
  transition: 0.9s;
}
